<h3> <%= t('views.slug.stats.title') %>: <%= @clicks.count %></h3>

<p>
  <strong> <%= t('models.slug.short_url') %>: </strong>
  <%= link_to slug_navigate_path(@slug.short_url), slug_navigate_path(@slug.short_url) %>
</p>

<p>
  <strong> <%= t('models.slug.target_url') %>: </strong>
  <%= link_to t('models.slug.target_url'), @slug.target_url %>
</p>

<h4> <%= t('views.slug.stats.clicks_list_title') %> </h4>

<% @clicks.each do |click| %>
  <p> <%= click.remote_ip %> </p>
<% end %>
